# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\alber\OneDrive\Escritorio\UNIVERSIDAD\TERCERO\EDA\TEORIA\pruebaProcedural\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
